@model CinemaDomain.Model.Film

@{
    ViewData["Title"] = @Model.Name;
    string seoDescription = $"Детальна інформація про фільм «{@Model.Name}». Категорія фільму/жанр: {@Model.FilmCategory.Name}. Виробник: {@Model.Company.Name}. Дата виходу: {@Model.ReleaseDate}.";

    string imagePath = Model.PosterPath != null && Model.PosterPath.StartsWith("http", StringComparison.OrdinalIgnoreCase)
        ? Model.PosterPath
        : Url.Content(Model.PosterPath ?? "/img/empty_film_image.png");
}
<head>
    <title>@ViewData["Title"] | Сеанси та бронювання | DreamScreen</title>
    <meta name="description" content="@(Model.Description.Length > 155 ? Model.Description.Substring(0, 155) + "..." : Model.Description)">
    <link rel="canonical" href="@("https://" + Context.Request.Host + Context.Request.Path)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .image-wrapper {
            border-radius: 10px !important;
            padding-top: 7px;
            overflow: hidden !important;
        }

            .image-wrapper img {
                border-radius: 10px !important;
            }
    </style>
</head>

<div class="container my-5">
    <div class="row align-items-start">
        <div class="col-lg-4 mb-4 mb-lg-0" style="padding-left: 0px !important;">

            <div class="image-wrapper" style="
                 border-radius: 15px;
                 overflow: hidden;
                 max-height: 500px;">

                <img src="@imagePath"
                     alt="Постер до фільму @Model.Name"
                     class="img-fluid shadow-sm"
                     style="width: 100%; height: 100%; object-fit: cover;" />
            </div>

        </div>

        <div class="col-lg-8">
            <h1>@Model.Name</h1>
            <hr class="mb-4" />
            <dl class="row">

                <dt class="col-sm-3">Категорія фільму</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FilmCategory.Name)
                </dd>

                <dt class="col-sm-3">Виробник</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Company.Name)
                </dd>

                <dt class="col-sm-3">Дата виходу</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>

                <dt class="col-sm-3">Опис</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
        </div>
    </div>

    <div class="mt-4">
        @if (User.IsInRole("superadmin"))
        {
            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a>
        }
        <a asp-action="Index">Назад</a>
    </div>
</div>