@model CinemaDomain.Model.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Детально</h1>

<div>
    <h4>Бронювання</h4>
    <hr />
    <dl class="row">
        <div class="mb-4 text-left">
            <img src="@Url.Content(Model.Session.Film.PosterPath)" alt="@Model.Session.Film.Name" class="img-fluid rounded" style="max-height: 300px;" />
        </div>
        <dt class="col-sm-2">Глядач</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Viewer.Name)
        </dd>
        <dt class="col-sm-2">Фільм</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.Film.Name)
        </dd>
        <dt class="col-sm-2">Дата сеансу</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionTime)
        </dd>
        <dt class = "col-sm-2">Зал</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat.Hall.Name)
        </dd>
        <dt class="col-sm-2">Ряд</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seat.Row)
        </dd>
        <dt class="col-sm-2">Номер місця в ряду</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seat.NumberInRow)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning btn-sm"
       asp-action="Edit"
       asp-route-viewerId="@Model.ViewerId"
       asp-route-sessionId="@Model.SessionId"
       asp-route-seatId="@Model.SeatId">
        Редагувати
    </a>
</div>

